<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="pegatrampo.webinfor.com.pegatrampo.GooglePlayServicesActivity"
            android:label="@string/title_activity_google_play_services"></activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
